.header{
    background-color: $white;
    padding: 24px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__log-box{
        display: flex;
        gap: 24px;
        align-items: center;
    }

    &__basket{
        position: relative;
        & span{
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: $green;
            border-radius: 50%;
            right: 0;
            font-size: 14px;
            color: $white;
            padding: 3px 6px;
        }
    }
}

.btn{
    margin-right: 50px;
}